.btn-primary{
    background-color: #F44A5B;
    border-color: #F44A5B;
}

.picture{
    width: 550px;
    height: 335px;
    background-color: #D9D9D9;
}
.dashboard h1{
    font-size: 48px;
    font-weight: 700;
}
.mt-146{
    margin-top: 146px;
}
.circle{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color:#D9D9D9 ;
}